<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>17/06/27 14:58:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Browsers.CloseDriver()[pri:0, instance:visualTests.Ejercicio3@548e7350]">&lt;&lt;CloseDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>17/06/27 14:56:59</td>   <td>-76888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Browsers.Init(java.lang.String, java.lang.String)[pri:0, instance:visualTests.Ejercicio3@548e7350]">&gt;&gt;Init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/06/27 14:57:08</td>   <td>-68162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ejercicio3.f()[pri:0, instance:visualTests.Ejercicio3@548e7350]">f</td> 
  <td>main@280884709</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/06/27 14:57:08</td>   <td>-68244</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Ejercicio3.init()[pri:0, instance:visualTests.Ejercicio3@548e7350]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@280884709</td>   <td></td> </tr>
</table>
